<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link
      href="https://www.jqueryscript.net/css/jquerysctipttop.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="style.css">
    <link href="src/jquery.inputpicker.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.2/flatly/bootstrap.min.css"
    />
    <link rel="stylesheet" href="style.css">
  </head>
  <body
    style="background: #f5f7fa;"
    class="flex gap-5 no-underline"
  >
    <div
      class="flex flex-col w-[14rem] h-screen pl-[1.5rem] pt-[2rem] gap-3"
      style="background-color: #132043; color: white;"
    >
      <a href="" class="flex items-center gap-2">
        <svg
          fill="#FFFF"
          height="20px"
          width="30px"
          version="1.1"
          id="Capa_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 612 612"
          xml:space="preserve"
        >
          <g>
            <g>
              <path
                d="M545.325,500.685H66.675c-30.737,0-55.657,24.92-55.657,55.657c0,30.737,24.92,55.657,55.657,55.657h478.65
			c30.737,0,55.657-24.92,55.657-55.657C600.982,525.604,576.062,500.685,545.325,500.685z"
              />
              <path
                d="M129.753,464.922c30.737,0,55.657-24.92,55.657-55.657v-212.61c0-30.737-24.92-55.657-55.657-55.657
			s-55.657,24.92-55.657,55.657v212.61C74.095,440.002,99.016,464.922,129.753,464.922z"
              />
              <path
                d="M306.002,464.922c30.737,0,55.657-24.92,55.657-55.657V126.157c0-30.737-24.92-55.657-55.657-55.657
			s-55.657,24.92-55.657,55.657v283.108C250.345,440.002,275.263,464.922,306.002,464.922z"
              />
              <path
                d="M482.245,464.922c30.737,0,55.655-24.92,55.655-55.657V55.657C537.903,24.92,512.984,0,482.245,0
			c-30.737,0-55.657,24.92-55.657,55.657v353.607C426.588,440.002,451.508,464.922,482.245,464.922z"
              />
            </g>
          </g>
        </svg>
        Stock</a>
      <a href="" class="flex items-center gap-2">
        <svg
          version="1.1"
          id="designs"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="20px"
          height="30px"
          viewBox="0 0 32 32"
          xml:space="preserve"
        >
          <style type="text/css">
            .sketchy_een {
              fill: #ffff;
            }
          </style>
          <path
            class="sketchy_een"
            d="M26.824,18.765c0.234-0.022,0.432-0.077,0.602-0.249c0.001-0.001,0.002-0.003,0.003-0.004
c0.275-0.082,0.517-0.277,0.578-0.568c0.171-0.822,0.345-1.645,0.518-2.467c0.177-0.848,0.308-1.703,0.459-2.555
c0.312-1.762,0.618-3.526,0.869-5.3c0.055-0.386,0.1-0.777,0.143-1.166c0.026-0.224-0.11-0.483-0.263-0.634
c-0.154-0.155-0.362-0.238-0.579-0.252c-0.131-0.073-0.27-0.12-0.434-0.136c-0.186-0.018-0.379-0.012-0.567-0.008
c-0.202,0.004-0.402-0.004-0.604-0.01c-0.389-0.012-0.777-0.031-1.166-0.047c-0.781-0.035-1.564,0.008-2.345,0.008
c-1.733,0.002-3.464,0.022-5.194,0.014c-1.566-0.008-3.132-0.016-4.698-0.028c-0.332-0.002-0.663,0-0.995,0.002
c-0.422,0.002-0.842,0.004-1.264-0.004c-0.809-0.011-1.615-0.033-2.422-0.033c-0.001,0-0.002,0-0.003,0
c-0.1-0.547-0.202-1.094-0.295-1.642C9.122,3.417,9.071,3.148,9.02,2.879C8.977,2.65,8.818,2.479,8.62,2.367
C8.473,2.253,8.296,2.173,8.097,2.169C8.005,2.166,7.913,2.165,7.822,2.165c-0.727,0-1.455,0.062-2.183,0.078
c-0.92,0.022-1.841-0.002-2.761-0.006C2.398,2.235,2,2.638,2,3.114s0.398,0.879,0.877,0.877C3.79,3.99,4.704,3.984,5.617,3.944
c0.286-0.012,0.573-0.01,0.862-0.008c0.133,0,0.267,0.002,0.402,0C7.062,3.936,7.244,3.926,7.426,3.92
C7.741,5.489,8.05,7.058,8.298,8.641c0.137,0.874,0.318,1.731,0.532,2.59c0.222,0.895,0.391,1.802,0.581,2.702
c0.183,0.857,0.375,1.713,0.546,2.573c0.175,0.877,0.357,1.75,0.555,2.622c0.186,0.826,0.4,1.646,0.567,2.475
c0.171,0.844,0.373,1.68,0.561,2.52c0.049,0.226,0.1,0.451,0.137,0.679c0.022,0.125,0.1,0.239,0.193,0.34
c0.032,0.048,0.055,0.103,0.097,0.144c0.179,0.179,0.385,0.238,0.628,0.261c0.078,0.008,0.156,0.003,0.233,0.009
c-0.082,0.135-0.133,0.288-0.193,0.433c-0.029,0.071-0.055,0.145-0.075,0.218c-0.061,0.238-0.106,0.471-0.137,0.712
c-0.053,0.416,0.004,0.824,0.173,1.209c0.212,0.489,0.591,0.914,1.081,1.136c0.281,0.129,0.542,0.229,0.848,0.279
c0.393,0.061,0.75,0.033,1.136-0.035c0.697-0.122,1.303-0.585,1.66-1.183c0.249-0.418,0.318-0.973,0.347-1.448
c0.02-0.294-0.01-0.598-0.124-0.871c-0.043-0.124-0.098-0.241-0.169-0.351c-0.017-0.029-0.044-0.052-0.064-0.08
c0.269,0.002,0.537-0.001,0.806,0.001c0.704,0.006,1.411,0.004,2.117,0c0.791-0.003,1.584,0.004,2.376,0.013
c-0.079,0.123-0.149,0.253-0.212,0.381c-0.12,0.235-0.212,0.492-0.263,0.751s-0.092,0.522-0.118,0.785
c-0.043,0.469,0.094,0.948,0.339,1.344c0.283,0.453,0.791,0.74,1.289,0.899c0.19,0.061,0.408,0.075,0.608,0.081
c0.114,0.004,0.228,0.01,0.339,0.006c0.544-0.014,1.071-0.124,1.552-0.381c0.306-0.165,0.589-0.508,0.765-0.807
c0.137-0.234,0.245-0.487,0.326-0.744c0.153-0.487,0.157-1.019,0-1.503c-0.083-0.257-0.23-0.488-0.393-0.705
c0.091-0.004,0.182,0.002,0.272-0.004c0.186-0.014,0.373-0.035,0.559-0.045c0.147-0.008,0.294,0.006,0.44,0.01
c0.371,0.012,0.712-0.263,0.81-0.616c0.059-0.216,0.027-0.451-0.086-0.646c-0.12-0.206-0.288-0.3-0.5-0.386
c-0.194-0.077-0.379-0.128-0.591-0.139c-0.192-0.012-0.385,0.01-0.577,0.023c-0.418,0.03-0.836,0.028-1.254,0.01
c-0.42-0.016-0.838-0.059-1.258-0.082c-0.424-0.024-0.85-0.02-1.274-0.026c-1.803-0.023-3.605,0.037-5.408,0.055
c-0.869,0.008-1.741,0.022-2.612,0.02c-0.706-0.001-1.414-0.015-2.12-0.059c-0.152-0.662-0.304-1.324-0.442-1.991
c-0.06-0.288-0.133-0.573-0.197-0.86c0.218-0.012,0.437-0.02,0.655-0.035c0.434-0.031,0.859-0.137,1.285-0.218
c0.848-0.159,1.695-0.314,2.543-0.465c0.834-0.147,1.664-0.306,2.502-0.438c0.822-0.13,1.644-0.259,2.467-0.379
c0.017-0.003,0.036-0.005,0.054-0.008c0.36-0.046,0.721-0.09,1.081-0.141c0.355-0.049,0.706-0.112,1.062-0.161
c-0.018,0.002-0.036,0.005-0.054,0.008c0.585-0.082,1.165-0.185,1.75-0.271C26.31,18.817,26.567,18.79,26.824,18.765z
M25.546,27.631c-0.049,0.098-0.102,0.191-0.162,0.282c-0.029,0.032-0.059,0.063-0.091,0.093c-0.005,0.003-0.01,0.006-0.015,0.009
c-0.115,0.039-0.232,0.067-0.352,0.091c-0.209,0.017-0.419,0.015-0.629-0.002c-0.049-0.011-0.095-0.023-0.143-0.037
c-0.069-0.037-0.136-0.076-0.203-0.117l-0.001-0.001c-0.018-0.029-0.036-0.058-0.052-0.089c-0.013-0.039-0.025-0.078-0.035-0.118
c-0.006-0.113-0.003-0.225,0.007-0.339c0.031-0.194,0.072-0.385,0.136-0.572c0.058-0.121,0.123-0.238,0.197-0.35
c0.031-0.032,0.062-0.062,0.095-0.091c0.109-0.075,0.219-0.148,0.331-0.219c0.11,0.132,0.259,0.233,0.434,0.283
c0.074,0.022,0.145,0.046,0.216,0.072c0.036,0.017,0.07,0.036,0.104,0.056c0.036,0.033,0.071,0.067,0.105,0.103
c0.047,0.072,0.09,0.146,0.131,0.222c0.013,0.043,0.025,0.087,0.035,0.132c0.004,0.072,0.004,0.144,0.001,0.216
C25.628,27.382,25.591,27.507,25.546,27.631z M15.961,27.089c-0.023,0.125-0.053,0.246-0.091,0.367
c-0.021,0.038-0.042,0.074-0.066,0.11c-0.031,0.032-0.062,0.063-0.094,0.092c-0.051,0.031-0.102,0.059-0.155,0.086
c-0.079,0.023-0.158,0.042-0.238,0.058c-0.117,0.007-0.23,0.008-0.346,0.003c-0.092-0.02-0.182-0.044-0.271-0.074
c-0.084-0.042-0.165-0.087-0.245-0.137c-0.009-0.009-0.018-0.019-0.028-0.029c-0.042-0.066-0.081-0.131-0.117-0.199
c-0.008-0.027-0.015-0.054-0.021-0.081c-0.003-0.085-0.002-0.167,0.003-0.251c0.03-0.154,0.067-0.305,0.115-0.454
c0.042-0.083,0.089-0.162,0.14-0.24c0.052-0.052,0.105-0.102,0.161-0.15c0.108-0.072,0.22-0.133,0.334-0.191
c0.075,0.049,0.157,0.087,0.246,0.113c0.026,0.008,0.051,0.016,0.077,0.025c0.08,0.043,0.156,0.09,0.231,0.14
c0.116,0.098,0.228,0.2,0.332,0.311c0.015,0.024,0.029,0.049,0.042,0.073C15.98,26.804,15.974,26.946,15.961,27.089z M24.422,17.475
c-0.761,0.139-1.523,0.279-2.288,0.394c-0.799,0.12-1.595,0.259-2.392,0.385c-0.828,0.129-1.654,0.255-2.478,0.406
c-1.256,0.229-2.517,0.44-3.778,0.624c-0.384,0.026-0.767,0.028-1.151,0.034c-0.205-0.841-0.397-1.686-0.57-2.534
c-0.177-0.875-0.367-1.747-0.551-2.62c-0.181-0.859-0.357-1.719-0.536-2.578c-0.094-0.449-0.218-0.891-0.318-1.336
c-0.104-0.453-0.196-0.909-0.283-1.366C9.964,8.289,9.87,7.691,9.772,7.094c0.772-0.017,1.545-0.046,2.317-0.047
c0.81-0.002,1.623-0.006,2.433-0.008c1.729-0.006,3.458-0.018,5.187-0.018c1.566,0,3.134-0.002,4.7,0.016
c0.708,0.008,1.419,0.002,2.127,0.039c0.359,0.02,0.72,0.043,1.081,0.059c0.168,0.007,0.337,0.016,0.506,0.021
c-0.058,0.526-0.115,1.052-0.183,1.577c-0.107,0.734-0.224,1.468-0.356,2.198c-0.133,0.73-0.239,1.466-0.347,2.202
c-0.195,1.339-0.447,2.67-0.778,3.984c-0.322,0.064-0.642,0.132-0.968,0.184C25.133,17.356,24.776,17.411,24.422,17.475z
M26.265,12.393c-0.138,0.777-0.274,1.552-0.384,2.334c-0.04,0.318-0.074,0.637-0.122,0.953c-0.029,0.202-0.216,0.402-0.385,0.5
c-0.192,0.114-0.428,0.145-0.644,0.084c-0.21-0.057-0.392-0.196-0.5-0.385c-0.122-0.208-0.126-0.414-0.086-0.646
c0.106-0.583,0.177-1.172,0.265-1.758c0.086-0.582,0.191-1.159,0.277-1.739c0.094-0.805,0.169-1.613,0.235-2.421
c0.02-0.237,0.082-0.441,0.255-0.616c0.163-0.163,0.387-0.255,0.616-0.255c0.23,0,0.453,0.092,0.616,0.255
c0.151,0.151,0.275,0.396,0.255,0.616C26.57,10.344,26.446,11.376,26.265,12.393z"
          />
        </svg>
        Penjualan
      </a>
      <a href="/" class="flex items-center gap-2">
        <svg
          width="20px"
          height="30px"
          viewBox="0 0 24 24"
          fill="#FFFF"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            x="3"
            y="6"
            width="18"
            height="13"
            rx="2"
            stroke="#000000"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M3 10H20.5"
            stroke="#000000"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M7 15H9"
            stroke="#000000"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        Pembayaran
      </a>
      <div class="no-underline">
        <a href="/product" class="flex items-center gap-2">
          <svg
            width="20px"
            height="30px"
            viewBox="0 0 512 512"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <title>product</title>
            <g
              id="Page-1"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <g
                id="icon"
                fill="#FFFFFF"
                transform="translate(64.000000, 34.346667)"
              >
                <path
                  d="M192,7.10542736e-15 L384,110.851252 L384,332.553755 L192,443.405007 L1.42108547e-14,332.553755 L1.42108547e-14,110.851252 L192,7.10542736e-15 Z M127.999,206.918 L128,357.189 L170.666667,381.824 L170.666667,231.552 L127.999,206.918 Z M42.6666667,157.653333 L42.6666667,307.920144 L85.333,332.555 L85.333,182.286 L42.6666667,157.653333 Z M275.991,97.759 L150.413,170.595 L192,194.605531 L317.866667,121.936377 L275.991,97.759 Z M192,49.267223 L66.1333333,121.936377 L107.795,145.989 L233.374,73.154 L192,49.267223 Z"
                  id="Combined-Shape"
                ></path>
              </g>
            </g>
          </svg>
          Product</a
        >
      </div>
      <a href="/productCat" class="flex items-center gap-2">
        <svg
          width="20px"
          height="30px"
          viewBox="0 0 24 24"
          fill="#FFFF"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            opacity="0.34"
            d="M5 10H7C9 10 10 9 10 7V5C10 3 9 2 7 2H5C3 2 2 3 2 5V7C2 9 3 10 5 10Z"
            stroke="#292D32"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M17 10H19C21 10 22 9 22 7V5C22 3 21 2 19 2H17C15 2 14 3 14 5V7C14 9 15 10 17 10Z"
            stroke="#292D32"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            opacity="0.34"
            d="M17 22H19C21 22 22 21 22 19V17C22 15 21 14 19 14H17C15 14 14 15 14 17V19C14 21 15 22 17 22Z"
            stroke="#292D32"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M5 22H7C9 22 10 21 10 19V17C10 15 9 14 7 14H5C3 14 2 15 2 17V19C2 21 3 22 5 22Z"
            stroke="#292D32"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        productCategory</a
      >
    </div>

    <div class="content-container">
      <div class="table-wrapper">
        <div class="ml-3 p-2 flex justify-between">
          <h3 style="font-size: 2rem">Produk</h3>
          <a href="add">
            <button
              style="padding: 7px; margin: 0px 0px 0px 20px; width: 5rem"
              class="btn-add"
            >
              ADD
            </button></a
          >
        </div>

        <table class="table">
          <thead>
            <tr>
              <th>No</th>
              <th>Nama Produk</th>
              <th>Produk CategoryID</th>
              <th style="width: 200px">Actions</th>
            </tr>
          </thead>

          <tbody id="tbody">
            <% users.data.forEach((row,index)=>{ %>
            <tr>
              <td><%= (page - 1) * limit + index + 1 %></td>
              <td><%= row.product %></td>
              <td><%= row.productCategoryID %></td>
              <td class="action">
                <a href="/edit/<%= row.id %>">
                  <button class="btn-edit">Edit</button></a
                >
                <a href="/delete/<%= row.id %>">
                  <button class="btn-delete">Delete</button>
                </a>
                <!-- <button class="btn-delete">Delete</button> -->
              </td>
            </tr>

            <% }) %>
          </tbody>
        </table>

        <div
          class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6 "
        >
          <div class="flex flex-1 justify-between sm:hidden ">
            <a
              href="#"
              class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
              >Previous</a
            >
            <a
              href="#"
              class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
              >Next</a
            >
          </div>
          <div
            class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between"
          >
            <div>
              <nav
                class="isolate inline-flex -space-x-px rounded-md shadow-sm absolute bottom-3"
                aria-label="Pagination"
                id="nav"
              >
                <a
                  href="#"
                  class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
                >
                  <span class="sr-only">Previous</span>
                  <svg
                    class="h-5 w-5"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </a>

                <!-- Current: "z-10 bg-indigo-600 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", Default: "text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:outline-offset-0" -->
                <% for(let i=1; i<= totalPage; i++) { %>
                <a
                  href="#"
                  data-page="<%= i %>"
                  aria-current="page"
                  class="relative z-10 inline-flex items-center bg-indigo-600 px-4 py-2 text-sm font-semibold text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                  ><%= i %></a
                >
                <% } %>
                <a
                  href="#"
                  class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
                >
                  <span class="sr-only">Next</span>
                  <svg
                    class="h-5 w-5"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </a>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      data-page="<%= page %>"
      data-limit="<%= limit %>"
      totalPage="<%= totalPage %>"
    >
      const scriptElement = document.currentScript;
      const pageLinks = document.querySelectorAll("[data-page]");
      const currentPage = scriptElement.getAttribute("data-page");
      const limit = scriptElement.getAttribute("data-limit");
      const totalPage = scriptElement.getAttribute("totalPage");

      pageLinks.forEach((link) => {
        link.addEventListener("click", (event) => {
          event.preventDefault();
          const selectedPage = parseInt(link.getAttribute("data-page"));
          if (selectedPage !== currentPage) {
            window.location.href = `/product?page=${selectedPage},limit=${limit}`;
          }
        });
      });
    </script>
  </body>
</html>
